/* petition.css */

/* General styling for the page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

/* Styling for the header section */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fedfda;
    color: #172a2e;
}

.header .logo {
    font-size: 1.5rem;
}

.header .nav-links {
    display: flex;
    gap: 1rem;
}

.header .nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: #172a2e;
    border-radius: 5px;
}

.header .nav-links a:hover {
    background-color: #0e171a;
}

.petition-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.petition-container .petition-image {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 10px;
}

.owner-img {
    width: 75px; 
    height: 75px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-bottom: 10px;
}

.petition-container .petition-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
    max-width: 600px;
}

.petition-container .petition-details h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.petition-container .petition-details p {
    margin: 0.5rem 0;
}

.support-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 2rem;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
}

.support-container h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.support-container .support-details {
    width: 100%;
}

.support-container .support-tier {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.support-container .support-tier p {
    margin: 0;
}

.support-container .support-tier .support-button {
    padding: 0.5rem 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.support-container .support-tier .support-button:hover {
    background-color: #45a049;
}
