.make-petition-container {
    margin-top: 15vh;
}

.petition-container {
    margin-top: 5vh;
}

.petition-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.petition {
    width: calc(33.33% - 10px); 
    margin-bottom: 20px; 
}

.petition img {
    width: 200px;
    height: auto;
}

.make-button {
    background-color: #ffffff;
    border: 10px;
    border-color: #ec95c8;
    color: #ec95c8;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.filter-container {
    margin-top: 125px;
    margin-left: 1000px;
}

#categoryFilter {
    width: 300px;
    height: 50px;
    padding: 5px;
    border-radius: 5px;
}